

<div class='fun_stuff' id='song0'>

<span class='song-header'> {{title}}

</span><ul><li>" {{artist}} + " | " + "</li><li> " + data[i].album + "</li></ul><button class='button_delete'>Delete!</button></div>");
